@keyframes htmlback{
  0% {background-color: black;}
  25% {background-color: blue;}
  50% {background-color: green;}
  75% {background-color: blue;}
  100% {background-color: black;}
}

@keyframes txtbanner{
  0% {left:-20vw; opacity: 1;}
  100% {left: 100vw; opacity: 0;}
}

html{
  animation-name: htmlback;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  backround-color: black;
}
h1, p, #secret{
  position: relative;
}

h1 {
  color: grey
  animation-name: txtbanner;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-delay:1.4s;
}

p {
  color: darkblue;
  animation-name: txtbanner;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  color: darkblue;
  animation-delay:.7s;
}

#secret {
  color: black;
  opacity: 0.1;
  animation-name: txtbanner;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}
