@keyframes htmlback{
  0% {background-color: black;}
  50% {background-color: darkred;}
  100% {background-color: black;}
}

@keyframes txtbanner{
  0% {opacity: 0;}
  50% {opacity: .5;}
  100% {opacity: 0;}
}

body{
  animation-name: htmlback;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  backround-color: black;
}

h1, p{
  position: relative;
  color:red;
}

p {
  animation-name: txtbanner;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-delay:1s;
}
