@keyframes htmlback{
  0% {background-color: red;}
  15% {background-color: orange;}
  31% {background-color: yellow;}
  47% {background-color: green;}
  73% {background-color: blue;}
  89% {background-color: indigo;}
  100% {background-color: violet;}
}

@keyframes txtmove{
  0% {align: left;}
  50%{align: center;}
  100%{align: right;}
}

html{
  animation-name: htmlback;
  animation-duration: 5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  backround-color: black;
}

body {
  animation-name: txtmove;
  animation-duration: 5s;
  animate-direction: alternate;
  animation-iteration-count: infinite;
  color: darkblue;
}

h1 {
  color: grey;
}

#secret {
  color: lightgrey;
}
